
@import "./master";


/******Varibles******/

$f37-r: "F37Ginger";
$f37-b: "F37Ginger-Bold";
$f37-l: "F37Ginger-Light";
$f37-i: "F37Ginger-italic";

/*Colors*/

$c1 :#F0612B;
$c2 : #E6E6E6;

/*Colors*/

/*font sizes*/

/*End variables*/

/*Golbal CSS*/

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

*:focus {
  outline: none !important;
}



@media (max-width: 767px) {
  .comparative-box {
    padding: 20px;
  }
}

.hey-ellie {
  .no-gutter {
    padding: 0;
    margin: 0;
  }
  .wizard {
    border-bottom: 1.5px solid $c2;
    p {
      margin: auto;
    }
    .dot{
      margin: auto;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      color: $c2;
      background-color: $c2;
    }
    .dot.active{
      background-color: $c1;
    }
    p.active {
      display: none
    }
    img {
      height: 20px;
      width: 33px;
      padding-left: 7px;
      margin: auto;
    }
  };
  img.logo{
    height: 46px;
    width: 40px;
  };
  h2 {
    font-family: 'Roboto', sans-serif;
  };
  button {
    color: $c1;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
  }
  .c1 {
    color: $c1;
  }
  .c2 {
    color: $c2;
  }
  .bold {
    font-family: 'Roboto-bold', sans-serif;
  }
  label {
    color: $c1;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    input {
      display: none;
      
    };
  }
  input {
    color: $c1;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
  }
  form {
    div {
      display: inline
    }
  }
  .questions {
    h3{
      font-size: 14px;
      line-height: 20px;
    }
  }
  .responses {
    box-shadow: 0px -3px 26px -5px grey;
    h2 {
      font-size: 14px; 
      line-height: 14px; 
      // margin: 0px;
    };
    h3 {
      font-size: 12px; 
      line-height: 16px; 
      // margin: 0px;
    }
    .caracel {
      display: -webkit-box;
      overflow: scroll;
      label {
        position: absolute;
        left: 18px;
        color: white;
        top: 68px;
        background: none;
        border: none;
        font-weight: bolder;
        width: 100px;
        text-align: center;
      }
      h2 {
        font-size: 14px; 
        line-height: 14px; 
        margin: 0px;
      };
      h3 {
        font-size: 12px; 
        line-height: 16px; 
        margin: 0px;
      }
    }
  }
  .center {
    height: 120px;
    width: 120px;
    border-radius: 10px;
  }
  label.results {
    position: absolute;
    left: 18px;
    color: white;
    top: 68px;
    background: none;
    border: none;
    font-weight: bolder;
    width: 100px;
    text-align: center;
  }
  .results {
    h2 {
      font-size: 14px;
      margin: 0px;
      font-weight: 700;
    };
    h3 {
      font-size: 12px;
      margin: 0px
    }
  }
  .active1{
    label {
      color: white;
      background-color: $c1;
    }
  }
  .done {
    color: $c1;
    background-color: white;
    border-radius: 15px;
  }
}



@media (max-width: 767px) {
  .carer-cv_logo {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
    padding-bottom: 30px;
  }
}