@font-face {
  font-family: 'F37Ginger';
  src: url("fonts/F37Ginger/F37Ginger-Regular.eot");
  src: url("fonts/F37Ginger/F37Ginger-Regular.woff2") format("woff2"), url("fonts/F37Ginger/F37Ginger-Regular.woff") format("woff"), url("fonts/F37Ginger/F37Ginger-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E305; }

@font-face {
  font-family: 'F37Ginger-Bold';
  src: url("fonts/F37Ginger-Bold/F37Ginger-Bold.eot");
  src: url("fonts/F37Ginger-Bold/F37Ginger-Bold.woff2") format("woff2"), url("fonts/F37Ginger-Bold/F37Ginger-Bold.woff") format("woff"), url("fonts/F37Ginger-Bold/F37Ginger-Bold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E305; }

@font-face {
  font-family: 'F37Ginger-Bold-Italic';
  src: url("fonts/F37Ginger-Bold-Italic/F37Ginger-BoldItalic.eot");
  src: url("fonts/F37Ginger-Bold-Italic/F37Ginger-BoldItalic.woff2") format("woff2"), url("fonts/F37Ginger-Bold-Italic/F37Ginger-BoldItalic.woff") format("woff"), url("fonts/F37Ginger-Bold-Italic/F37Ginger-BoldItalic.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E305; }

@font-face {
  font-family: 'F37Ginger-Italic';
  src: url("fonts/F37Ginger-Italic/F37Ginger-Italic.eot");
  src: url("fonts/F37Ginger-Italic/F37Ginger-Italic.woff2") format("woff2"), url("fonts/F37Ginger-Italic/F37Ginger-Italic.woff") format("woff"), url("fonts/F37Ginger-Italic/F37Ginger-Italic.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E305; }

@font-face {
  font-family: 'F37Ginger-Light';
  src: url("fonts/F37Ginger-Light/F37Ginger-Light.eot");
  src: url("fonts/F37Ginger-Light/F37Ginger-Light.woff2") format("woff2"), url("fonts/F37Ginger-Light/F37Ginger-Light.woff") format("woff"), url("fonts/F37Ginger-Light/F37Ginger-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E305; }

@font-face {
  font-family: 'F37Ginger-Light-Italic';
  src: url("fonts/F37Ginger-Light-Italic/F37Ginger-LightItalic.eot");
  src: url("fonts/F37Ginger-Light-Italic/F37Ginger-LightItalic.woff2") format("woff2"), url("fonts/F37Ginger-Light-Italic/F37Ginger-LightItalic.woff") format("woff"), url("fonts/F37Ginger-Light-Italic/F37Ginger-LightItalic.svg") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E305; }

@font-face {
  font-family: 'F37Ginger-Thin';
  src: url("fonts/F37Ginger-Thin/F37Ginger-Thin.eot");
  src: url("fonts/F37Ginger-Thin/F37Ginger-Thin.woff2") format("woff2"), url("fonts/F37Ginger-Thin/F37Ginger-Thin.woff") format("woff"), url("fonts/F37Ginger-Thin/F37Ginger-Thin.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E305; }

@font-face {
  font-family: 'F37Ginger-Thin-Italic';
  src: url("fonts/F37Ginger-Thin-Italic/F37Ginger-ThinItalic.eot");
  src: url("fonts/F37Ginger-Thin-Italic/F37Ginger-ThinItalic.woff2") format("woff2"), url("fonts/F37Ginger-Thin-Italic/F37Ginger-ThinItalic.woff") format("woff"), url("fonts/F37Ginger-Thin-Italic/F37Ginger-ThinItalic.svg") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-E305; }

/******Varibles******/
.hoverDiv:nth-child(2n) {
  background: #DCE8E0; }

.hoverDiv {
  background: #E0EDE3; }

.spanBlock {
  display: block;
  font-size: 14px; }

.accordianCardBG {
  background: #FBF8EF; }

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #33535C;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s; }

.slider:hover {
  opacity: 1; }

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #1D4042;
  background: #FFFFFF;
  cursor: pointer; }

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #F9F7EF;
  cursor: pointer; }

.btn-outline-status {
  color: #FF9999;
  background-color: transparent;
  background-image: none;
  border-color: #FF9999; }

.btn-outline-status.disabled, .btn-outline-status:disabled {
  color: #FF9999;
  background-color: transparent; }

.modal-body {
  word-wrap: break-word; }

/******Varibles******/
/*Colors*/
/*Colors*/
/*font sizes*/
/*End variables*/
/*Golbal CSS*/
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch; }

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left; }

*:focus {
  outline: none !important; }

@media (max-width: 767px) {
  .comparative-box {
    padding: 20px; } }

.hey-ellie .no-gutter {
  padding: 0;
  margin: 0; }

.hey-ellie .wizard {
  border-bottom: 1.5px solid #E6E6E6; }
  .hey-ellie .wizard p {
    margin: auto; }
  .hey-ellie .wizard .dot {
    margin: auto;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: #E6E6E6;
    background-color: #E6E6E6; }
  .hey-ellie .wizard .dot.active {
    background-color: #F0612B; }
  .hey-ellie .wizard p.active {
    display: none; }
  .hey-ellie .wizard img {
    height: 20px;
    width: 33px;
    padding-left: 7px;
    margin: auto; }

.hey-ellie img.logo {
  height: 46px;
  width: 40px; }

.hey-ellie h2 {
  font-family: 'Roboto', sans-serif; }

.hey-ellie button {
  color: #F0612B;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 10px; }

.hey-ellie .c1 {
  color: #F0612B; }

.hey-ellie .c2 {
  color: #E6E6E6; }

.hey-ellie .bold {
  font-family: 'Roboto-bold', sans-serif; }

.hey-ellie label {
  color: #F0612B;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  border-color: #d8d8d8 #d1d1d1 #bababa;
  border-style: solid;
  border-width: 1px; }
  .hey-ellie label input {
    display: none; }

.hey-ellie input {
  color: #F0612B;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  border-color: #d8d8d8 #d1d1d1 #bababa;
  border-style: solid;
  border-width: 1px; }

.hey-ellie form div {
  display: inline; }

.hey-ellie .questions h3 {
  font-size: 14px;
  line-height: 20px; }

.hey-ellie .responses {
  box-shadow: 0px -3px 26px -5px grey; }
  .hey-ellie .responses h2 {
    font-size: 14px;
    line-height: 14px; }
  .hey-ellie .responses h3 {
    font-size: 12px;
    line-height: 16px; }
  .hey-ellie .responses .caracel {
    display: -webkit-box;
    overflow: scroll; }
    .hey-ellie .responses .caracel label {
      position: absolute;
      left: 18px;
      color: white;
      top: 68px;
      background: none;
      border: none;
      font-weight: bolder;
      width: 100px;
      text-align: center; }
    .hey-ellie .responses .caracel h2 {
      font-size: 14px;
      line-height: 14px;
      margin: 0px; }
    .hey-ellie .responses .caracel h3 {
      font-size: 12px;
      line-height: 16px;
      margin: 0px; }

.hey-ellie .center {
  height: 120px;
  width: 120px;
  border-radius: 10px; }

.hey-ellie label.results {
  position: absolute;
  left: 18px;
  color: white;
  top: 68px;
  background: none;
  border: none;
  font-weight: bolder;
  width: 100px;
  text-align: center; }

.hey-ellie .results h2 {
  font-size: 14px;
  margin: 0px;
  font-weight: 700; }

.hey-ellie .results h3 {
  font-size: 12px;
  margin: 0px; }

.hey-ellie .active1 label {
  color: white;
  background-color: #F0612B; }

.hey-ellie .done {
  color: #F0612B;
  background-color: white;
  border-radius: 15px; }

@media (max-width: 767px) {
  .carer-cv_logo {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
    padding-bottom: 30px; } }
